.box{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
}

.box-background{
    width: 90%;
    height: 90%;
    background-image: url('../../assets/home/background/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}