@font-face {
    font-family: "Letter Gothic";
    src: url("../../assets/home/font/letter\ gothic\ std.otf") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");

/* .box:after {
    content: '';
    width: 100vw;
    border-bottom: solid 1.1px #fff;
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    top: 50%;
    left: 35%;
} */

.box {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
}

.box-background {
    width: 90%;
    height: 90%;
    background-image: url("../../assets/home/background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.box-background {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.box-content {
    width: auto;
    position: absolute;
    max-width: 25vw;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-sizing: border-box;
}

.box-content, .box-social a {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

@media (max-width: 950px) {
    .box-content {
        max-width: 65vw;
    }
}

.content-title {
    color: #fff;
    font-family: "Letter Gothic";
    font-size: 4.5em;
}

.content-description {
    color: #fff;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 500;
    line-height: 25px;
    font-size: 1em;
    text-align: justify;
    letter-spacing: 1.2px;
    word-spacing: 3.5px;
    text-shadow: 0px 0px 10px #000; 
}

.box-footer {
    width: 100%;
    height: auto;
    min-height: 8vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.box-social:before {
    content: '';
    width: 34vw;
    height: 20%;
    border-right: solid 1.5px #fff;
    border-top: solid 1.5px #fff;
    position: absolute;
    z-index: 0;
    bottom: -10%;
    left: -9%;
    pointer-events: none;
}

.box-social {
    height: 100%;
    width: 26vw;
    max-width: auto;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Letter Gothic";
    text-align: left;
    font-size: .9em;
}

.box-social a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    pointer-events: all;
}

.box-social a span {
    padding-left: 20%;
}

@media (max-width: 850px) {
    .content-title {
        color: #fff;
        font-family: "Letter Gothic";
        font-size: 4em;
    }

    .box-social {
        width: 50vw;
    }

    .box-social:before {
        width: 55vw;
        height: 20%;
    }
}

@media (max-width: 570px) {
    .box-social:before {
        width: 65vw;
    }

    .box-social {
        width: 60vw;
    }
}

@media (max-width: 400px) {
    .box-social {
        width: 66vw;
    }

    .box-social:before {
        width: 75vw;
    }
}